.detailsContainer {
  width: 700px;
  height: 1083px;
  gap: 32px;
  border-radius: 24px;
  padding: 48px;
  background: #041e23;
  border: 1px solid #0e464f;
  color: var(--color-grey-98, rgba(250, 250, 250, 1));
  font-family: Roboto, sans-serif;
  margin: 0 auto;
  form {
    width: 604px;
    min-height: 907px;
    gap: 32px;
    border-radius: 32px;
    padding: 24px;
    background: #08252b;
    border: 1px solid #0e464f;
  }
  label {
    margin: 0px;
  }
}
#uploadText {
  margin: 5px 0px 25px;
}
.photoUpDiv {
  width: 556px;
  height: 328px;
  border-radius: 24px;
  padding: 24px 24px 48px 24px;
  background: rgba(5, 34, 40, 1);
  border: 1px solid rgba(7, 55, 63, 1);
}
.photoDiv {
  width: 508px;
  height: 200px;
  gap: 10px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
#imgInput {
  width: 240px;
  height: 240px;
  gap: 16px;
  border-radius: 32px;
  padding: 24px;
  background: rgba(14, 70, 79, 1);
  margin: auto;
  border: 4px solid #24a0b5;
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#uploadedImg{
  width: 240px;
  height: 240px;
  border-radius: 32px;
}
.newUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    width: 32px;
  }
}
#yourname, #email {
  width: 556px;
  height: 48px;
  gap: 8px;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid rgba(7, 55, 63, 1);
  background-color: inherit;
  margin: 20px auto;
  color: white;
  outline: none;
}
#request {
  border: 1px solid rgba(7, 55, 63, 1);
  background-color: inherit;
  margin: 20px auto;
  width: 556px;
  height: 127px;
  padding: 12px;
  border-radius: 12px;
  color: white;
  outline: none;
  resize: none;
}
.backBtn {
  width: 270px;
  border: 1px solid rgba(36, 160, 181, 1);
  background-color: inherit;
  color: #24a0b5;
}
.ticketBtn {
  width: 270px;
  border: none;
  color: white;
}
@media screen and (max-width: 420px) {
  .detailsContainer {
    width: 335px;
    height: 1072px;
    padding: 32px 24px;
    form {
      width: 287px;
      border: none;
      background-color: transparent;
      padding: 0;
    }
  }
  .photoUpDiv {
    width: 287px;
    height: 341px;
  }
  .photoDiv {
    width: 239px;
  }
  #yourname, #email, #request {
    width: 287px;
  }
}
